
.container {
    text-align: center;
}

.loginContainer {
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}

.error-message {
    color:red;
    display: block;
}

.main, .loginContainer {
    margin-top: 63px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-image: url('../../public/images/hompage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.loginContainer {
    margin-top: 140px;
}

.welcome-title {
    font-size: 60px;
    padding-top: 100px;
}

.welcome-content {
    font-size: 30px;
}

.content {
    margin-top: 100px;
}

.selectRole {
    height: 100px;
    margin-bottom: 20px;
    cursor: pointer;
}

.active {
    background-color: black;
}

.active i {
    color: white;
}

.selectios {
    display: inline-block;
    border: 1px solid black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 0px;
    padding: 4px;
}

.selectandroid {
    display: inline-block;
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 4px;
}

.selectRole i {
    font-size: 80px;
    padding: 10px;
}

/*   SideBar    */

.bm-menu {
    background: #373a47;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 3.4em 1em 0;
}

.bm-item {
    padding: 1em;
    color: #b8b7ad;
    text-decoration: none;
}

.bm-item:hover {
    color: #c94e50;
}

i {
    font-size: 1.7em;
    vertical-align: middle;
    color: #282a35;
}

.bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
}

/*   SELCTED PAGE    */

.appcontainer {
    display: inline-block;
}

.appicon {
    float: left;
    margin-right: 30px;
}

.appdetails {
    float: left;
    margin-top: 20px;
}

.appmoredetails span {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-right: 10px;
}

.applinkurl {
    border: 1px solid orange !important;
    color: orange;
}

.appcloudimage {
    border: 0 !important;
    border-right: 1px solid black !important;
    border-radius: 0 !important;
}

.appdownload {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.bundle {
    border: 0 !important;
    border-right: 1px solid black !important;
    border-radius: 0 !important;
}

.appbundle {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.actioncontainer {
    float: left;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 20px;
}

.actionupload {
    width: 115px;
    height: 23px;
    padding: 10px;
    background-color: #3AB2A7;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.actionview {
    width: 115px;
    height: 23px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: #3AB2A7;
    border: 1px solid #3AB2A7;
    display: none;
}

.appbuilddetails {
    display: inline-block;
    width: 1000px;
    /* height: 500px; */
    background-color: #F6F6F6;
}

/*    app brief    */

.downmain {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../../public/images/down-background.jpg');
}

.down-container {
    width: 80%;
    display: inline-block;
}

.icon-container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin: 0 auto;
    width: 290px;
    height: 290px;
    font-family: d_icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.qrcode {
    height: 128px;
    width: 128px;
    background-color: #eff2f2;
    transition: all .25s;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 140px;
    border: 20px solid transparent;
    border-radius: 26px;
    position: absolute;
    z-index: 2;
    display: block;
}

.app-brief {
    margin-top: 50px;
}